<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>스케줄 목록</title>
    <link rel="stylesheet" th:href="@{/css/schedule.style.css}">
</head>
<body>
<div class="headDiv">
    <div class="allaTagDiv">
        <div class="scheduleDiv">
            <a href="/schedule/list" class="scheduleBtn" id="scheduleBtn">스케줄</a>
        </div>
        <div class="aTagDiv">
            <a href="/employee/list" class="aTagBtn" id="aTagBtnEmployee">직원</a>
        </div>
        <div class="aTagDiv">
            <a href="/team/list" class="aTagBtn" id="aTagBtnTeam">팀</a>
        </div>
    </div>
    <div class="dateDiv">
        <p id="scheduleYear"></p>
        <p class="monthBoxStyle">
            <button class="monthBtnStyle" id="monthLeftBtn"> < </button>
            <span class="monthStyle" id="scheduleMonth"></span>
            <button class="monthBtnStyle" id="monthRightBtn"> > </button>
        </p>
    </div>
    <div class="teamSelect">
        <select id="teamSchedule" name="teamSchedule" class="teamSelectBox">
            <option value="" disabled>팀 선택</option>
            <option value="전체" selected>전체 팀</option>
            <option th:each="team : ${teams}"
                    th:value="${team.teamId}"
                    th:text="${team.teamName}"></option>
        </select>
    </div>
</div>
<div class="listBox">
    <div>
        <div class="employeeListBox">직원 목록</div>
        <div th:each="entry : ${teamMemberMap}">
            <div class="teamListDiv">
                <div th:text="${entry.key}" class="teamBox"></div>
                <div class="employees">
                    <div th:each="teamMember : ${entry.value}" class="employeeBox" th:attr="data-employee-id=${teamMember.employeeId}">
                        <span th:text="${teamMember.member_name}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="daysBox">
        <div id="dayListBox"></div>
        <div id="scheduleDaysBox"></div>
    </div>
</div>

<!-- sList 데이터를 자바스크립트로 전달 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    const sList = /*[[${sList}]]*/ [];
    /*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/schedule.js}"></script>
</body>
</html>