<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>팀 목록</title>
    <link rel="stylesheet" th:href="@{/css/team.style.css}">
</head>
<body>
    <div class="writeModal">
        <div class="modalBody">
            <div class="layout">
                <form action="writepro" method="post" onsubmit="return validateSelection()">
                    <p class="modalTeamTitle">신규 팀 등록</p>
                    <input type="text" name="teamName" class="inputStyle" maxlength="10" placeholder="팀 이름을 입력해 주세요." required>
                    <select class="leader" id="leader" name="leader" onchange="updateOptions()">
                        <option value="" disabled selected>팀장 선택</option>
                        <option th:each="employee : ${elist}"
                                th:value="|${employee.emname}| + '|' + |${employee.employee_id}|"
                                th:text="${employee.emname}"></option>
                    </select>
                    <div id="memberContainer" class="memberContainer">
                        <button type="button" onclick="addMemberSelect()" class="memberSelectBtn">팀원 추가</button>
                    </div>
                    <div class="teamBtnGroup">
                        <button type="submit" class="writeBtn">완료</button>
                        <button type="button" class="cancelBtn">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="updateModal">
        <div class="modalBody">
            <div class="layout">
                <form action="update" method="post">
                    <p class="modalTeamTitle">팀 정보 수정</p>
                    <input type="hidden" id="updateTeamId" name="teamId">
                    <input type="text" id="teamUpdateName" name="teamName" class="inputStyle" maxlength="10" placeholder="팀 이름을 입력해 주세요." required>
                    <div class="updateLeaderDiv" id="updateLeaderDiv">
                        <div class="updateLeader" id="updateLeader"></div>
                        <button type="button" class="leaderChangeBtn" id="leaderChangeBtn">변경</button>
                    </div>
                    <div class="updateSelectLeaderDiv" id="updateSelectLeaderDiv">
                        <select class="leader" id="updateSelectLeader" name="leader">
                            <option value="" disabled selected>팀장 선택</option>
                        </select>
                    </div>
                    <div class="teamMemberList" id="teamMemberList"></div>
                    <div class="memberUpdateContainer">
                        <button type="button" class="memberAddBtn" id="memberAddBtn">팀원 추가</button>
                        <div class="memberAddDiv" id="memberAddDiv">
                            <select class="member" id="member" name="member" onchange="updateOptions()">
                                <option value="" disabled selected>팀원 선택</option>
                                <option th:each="employee : ${elist}"
                                        th:value="|${employee.emname}| + '|' + |${employee.employee_id}|"
                                        th:text="${employee.emname}"></option>
                            </select>
                            <button type="button" class="memberCrateBtn" id="memberCrateBtn">추가</button>
                            <button type="button" class="memberCrateBtn" id="memberCrateCancelBtn">취소</button>
                        </div>

                    </div>
                    <div class="teamBtnGroup">
                        <button type="submit" class="updateBtn">완료</button>
                        <button type="button" class="cancelBtn">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class="headDiv">
            <div class="allaTagDiv">
                <div class="aTagDiv">
                    <a href="/schedule/list" class="aTagBtn">스케줄</a>
                </div>
                <div class="aTagDiv">
                    <a href="/employee/list" class="aTagBtn">직원</a>
                </div>
                <div class="teamBtnDiv">
                    <a href="/team/list" class="teamBtn">팀</a>
                </div>
            </div>
            <div class="teamStyle">전체 팀</div>
            <div class="teamWrite">
                <button class="teamWriteBtn">신규 팀 등록</button>
            </div>
        </div>
        <div class="teamAllCard">
            <div class="teamCard" th:each="team : ${list}">
                <div class="teamCardTop"></div>
                <div class="teamTag">
                    <button class="teamUpdateBtn">
                        <img src="/images/updateImage.svg" alt="Icon" class="teamUpdateImg">
                    </button>
                    <div class="teamTitle">
                        <div>
                            <span class="teamName" th:text="${team.teamName}"></span>
                        </div>
                        <div th:each="member : ${team.teamMembers}">
                            <div th:if="${member.role == '팀장'}">
                                <span class="teamLeader" th:text="${member.member_name}"></span>
                                <span class="leaderId" th:text="${member.memberId}" style="display: none"></span>
                            </div>
                        </div>
                    </div>
                    <form th:action="@{/team/delete}" method="post" class="teamDeleteFrom">
                        <input type="hidden" th:value="${team.teamId}" name="teamId" class="teamIdValue"/>
                        <button type="submit" class="teamDeleteBtn">
                            <img src="/images/delete.svg" alt="Icon" class="teamDeleteImg">
                        </button>
                    </form>
                </div>
                <div class="teamMemberRow">
                    <div th:each="member : ${team.teamMembers}" th:if="${member.role == '팀원'}" class="memberInfo">
                        <span class="teamMember" th:text="${member.member_name}"></span>
                        <span class="memberId" th:text="${member.memberId}" style="display: none"></span>
                    </div>
                </div>
                <div class="teamCardBottom"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/team.js}"></script>
</body>
</html>